html {
    font-family: sans-serif;
    font-size: 24px;
}

body {
    position: relative;
    background-color: #708090;
    margin-left: 25vw;
    margin-right: 25vw;
}

.assets-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 50px;
}

.assets-item > img {
    height: 300px;
}

.links-list > li {
    margin-bottom: 50px;
}


#footer {
    position: relative;
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 30px;
}