body {
    position: relative;
    background-color: #708090;
}


#game {
    position: relative;

    display: block;
    margin: 2.5vh auto;

    border-width: 5px;
    border-style: solid;
    border-color: black;
}

#footer {
    position: relative;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}